:root {
  --font-color: #fefefe;
  --back-color: #0e0e0e;
  --gray-dark-color: #222222;
  --yellow-color: #d2f55a;
  --hover-yellow: #d2f55aff;
}

html {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--back-color);
  color: var(--font-color);
  font-family: sans-serif;
  /* Toma el tamaño de fuente definido en el dispositivo */
  font-size: 100%;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 3rem 0;
}

.paragraph {
  padding: 0.8rem 0;
}

.menu {
  padding: 1.25rem;
  margin-top: 1.25rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.menu-item li {
  padding: 0.8rem;
}

.menu-item {
  text-decoration: none;
  color: var(--yellow-color);
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.5em;
}

.menu-item:hover {
  background-color: var(--gray-dark-color);
  color: var(--hover-yellow);
}

section {
  margin: 2.5rem 0;
  background-color: var(--gray-dark-color);
  border-radius: 5px;
  padding: 2rem;
}

section h2 {
  font-size: 2em;
}

.title {
  text-align: center;
  padding: 2rem;
}

/* CARD */
.container-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  margin-top: 1.3rem;
  background-color: #333;
  box-shadow: 3px 3px 5px -3px var(--yellow-color);
  padding: 1.25rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 auto;
}

.card h3 {
  font-size: 1.3em;
  text-align: center;
}

hr {
  border-bottom: 1px solid var(--yellow-color);
  width: 90%;
}

.card p {
  padding-top: 40px;
}

.card :last-child {
  text-align: right;
  align-self: flex-end;
}

.picture {
  width: 100px;
  height: 100px;
  margin: auto;
}

li p {
  text-align: center;
  padding: 0.8rem;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  padding: 0.4rem;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.tech-learn {
  margin-top: 2.5rem;
}

article,
aside {
  padding-bottom: 2.5rem;
}

footer {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }

  .menu-list {
    flex-direction: row;
    justify-content: space-around;
  }
}
